*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.class-one{
    width: 960px;
    height: 360px;
    background-color: olive;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 36px;
    color: white;
    border-radius: 15px;
    
}
h2{
    color: rgb(58, 43, 43);
    margin: 12px 0px;
}

.class-two, .class-tree, .class-four{
    width: 290px;
    height: 180px;
    background-color:olive;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border: 5px rgb(175, 162, 162);
    border-radius: 10px;
}

.parentDiv1{
    margin-left: 33px;
    
}

.parentDiv1, .parentDiv2, .parentDiv3{
    margin: 0px 22px;
}




.wrap{
    margin: 0 auto;
    display: flex;
    width: 70%;
    
}
.wrap a {
    text-decoration: none;
    color: red;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

.wrap p{
    width: 90%;
    color: rgb(92, 90, 90);
}
